@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

@keyframes scan {
  from { transform: translateY(0); }
  to { transform: translateY(220px); }
}

.animate-scan {
  animation: scan 3s linear infinite;
}

.animate-pulse-slow {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
